<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.TeacherMapper">
    <!--单个插入Teacher-->
    <insert id="insertTeacherById" parameterType="org.example.unity.Teacher"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO teacher (name, age, job, sal, addr)
        VALUES (#{name}, #{age}, #{job}, #{sal}, #{addr})
    </insert>
    <!--批量插入Teacher-->
    <insert id="batchInsertTeachers">
        INSERT INTO teacher (name, age, job, sal, addr) VALUES
        <foreach collection="list" item="teacher" separator=",">
            (#{teacher.name}, #{teacher.age}, #{teacher.job}, #{teacher.sal}, #{teacher.addr})
        </foreach>
    </insert>
    <!--条件查询-->
    <select id="selectByCondition" resultType="org.example.unity.Teacher">
        SELECT * FROM teacher
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="job != null and job != ''">
                AND job = #{job}
            </if>
            <if test="minAge != null">
                AND age <![CDATA[>=]]> #{minAge}
            </if>
            <if test="maxAge != null">
                AND age <![CDATA[<=]]> #{maxAge}
            </if>
            <if test="minSal != null">
                AND sal <![CDATA[>=]]> #{minSal}
            </if>
            <if test="maxSal != null">
                AND sal <![CDATA[<=]]> #{maxSal}
            </if>
            <if test="addr != null and addr != ''">
                AND addr LIKE CONCAT('%', #{addr}, '%')
            </if>
        </where>
        ORDER BY id DESC
    </select>
    <!--获取指定省份员工平均薪资 -->
    <select id="getAverageSalaryByProvince" resultType="java.lang.Double">
        SELECT AVG(sal) FROM teacher WHERE addr LIKE #{province}
    </select>
    <!--提升30岁以上的销售员为销售经理 -->
    <update id="promoteSalesToManager">
        UPDATE teacher
        SET job = '销售经理'
        WHERE  age > 30 AND job='销售员'
    </update>
    <!-- 给定条件查找改数据行-->
    <update id="updateTeacher" parameterType="java.util.Map">
        UPDATE teacher
        <set>
            <foreach collection="updateFields" index="key" item="value" separator=",">
                <if test="value != null">
                    ${key} = #{value}
                </if>
            </foreach>
        </set>
        <where>
            <foreach collection="conditionFields" index="key" item="value" separator="AND">
                <if test="value != null">
                    ${key} = #{value}
                </if>
            </foreach>
            <if test="conditionFields == null or conditionFields.isEmpty()">
                1 = 0
            </if>
        </where>
    </update>
    <!--条件删除 -->
    <delete id="deleteByCondition" >
        delete from teacher
            <where>
            <if test="id != null">
                AND id = #{id}
                </if>
            <if test="ids != null and ids.size() > 0">
                AND id IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>

            <if test="name != null and name != ''">
                AND name = #{name}
                </if>
            <if test="nameLike != null and nameLike != ''">
                AND name LIKE CONCAT('%', #{nameLike}, '%')
            </if>

            <if test="addr != null and addr != ''">
                AND addr = #{addr}
                </if>
            <if test="addrLike != null and addrLike != ''">
                AND addr LIKE CONCAT('%', #{addrLike}, '%')
            </if>

            <if test="job != null and job != ''">
                AND job = #{job}
                </if>
            <if test="jobLike != null and jobLike != ''">
                AND job LIKE CONCAT('%', #{jobLike}, '%')
            </if>

            <if test="age != null">
                AND age = #{age}
                </if>
            <if test="minAge != null">
                AND age <![CDATA[>=]]> #{minAge}
            </if>
            <if test="maxAge != null">
                AND age <![CDATA[<=]]> #{maxAge}
            </if>
            <if test="sal != null">
                AND sal = #{sal}
            </if>

            <if test="minSal != null">
                AND sal <![CDATA[>=]]> #{minSal}
            </if>

            <if test="maxSal != null">
                AND sal <![CDATA[<=]]> #{maxSal}
            </if>
            <if test="job != null and minAge != null">
                AND job = #{job} AND age <![CDATA[>=]]> #{minAge}
            </if>

            <if test="job != null and maxAge != null">
                AND job = #{job} AND age <![CDATA[<=]]> #{maxAge}
            </if>
            <if test="province != null and province != ''">
                AND addr LIKE CONCAT(#{province}, '%')
            </if>

        </where>
    </delete>
    <!--根据id批量删除Teachers -->
    <delete id="batchDelete">
        delete from teacher
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>